<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="springboot" type="Application" factoryName="Application">
    <option name="MAIN_CLASS_NAME" value="com.jungle.week13.Week13Application" />
    <module name="week13.main" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>